.outer-container {
    border: solid 1px #6265A7;
}
.header {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}

.banner-div {
    padding: 5px;
    display: flex;
    width: -webkit-fill-available;
    border-top: solid 1px cadetblue;;
    border-bottom: solid 1px cadetblue;
}

.border {
    border-right: 1px solid black !important;
}

.order-btn {
    border: none;
    background: none;
    cursor: pointer;
    color: cadetblue;
    text-decoration: underline;
    outline: none;
}

.order-btn:disabled,
.order-btn[disabled]{
  color: #666666;
  cursor: auto;
}

.city-card {
    width: 25%;
    height: 200px;
    border-radius: 15px;
    border: solid 1px blue;
    margin: 20px;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.weather-container {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.temperature-div {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex: 1;
    padding: 25px 20px;
}

.city-name {
    font-size: 2rem;
}

.degree-div {
    font-size: 3rem;
}

.temp-div {
    font-size: 5rem;
    padding-right: 5px;
}

.weather-type {
    font-size: 1.5rem;
}

.checkbox-div {
    flex: 1;
    text-align: right;
}

.pagination-div {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.cities-input {
    background-color: #DAE3F3;
    border: solid 1px #6265A7;
    outline: none;
    padding: 5px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.55); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #6265A7;
    width: 25%;/* Could be more or less, depending on screen size */
  }

  .weather-description {
    font-size: 1.2rem;
    padding: 5px 0;
  }